@page
@model TrainingExercise.Pages.UserPages.UserUpdateModel
@using TrainingExercise.Controller
@using TrainingExercise.Model
@{
    ViewData["Title"] = "User Update";
    User user = UserController.GetUser(Model.UserId);
}
<form method="post" action="">



 @*    <h1>User Details</h1>
    <input type="hidden" name="Id" value="@user.Id"></input>
    <p>Name: <input type="text" class="form-control form-text" name="Name" value="@user.Name"></p>
    <p>Date of Birth: <input type="date" class="form-control form-text" name="DateOfBirth" value="@user.DateOfBirth.ToString("yyyy-MM-dd")" min="1900-01-01" max="2100-01-01"></p>
    <p>Address: <input type="text" name="Address" class="form-control form-text" value="@user.Address"></p>
 *@

    <input type="submit" value="Update" class="btn btn-primary btn-lg" />
</form>