@page
@model TrainingExercise.Pages.UserPages.UserCreateModel
@{
}
@using TrainingExercise.Controller
@using TrainingExercise.Model
@{
    ViewData["Title"] = "User Create";
}
<form method="post" action="">



    <h1>Add new User</h1>
    <p>Name: <input type="text" class="form-control form-text" name="Name" ></p>
    <p>Date of Birth: <input type="date" class="form-control form-text" name="DateOfBirth"  min="1900-01-01" max="2100-01-01"></p>
    <p>Address: <input type="text" name="Address" class="form-control form-text" ></p>


    <input type="submit" value="Save" class="btn btn-primary btn-lg" />
</form>
